{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    {% include 'base/meta.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %} {% endblock %} - Votre application pour gérer vos albums</title>
</head>

<body class="">
    {% include 'base/header.html' %}
    <div class="bg-app-primary" style="height: 87vh;">
        <div class="container">
            {% block 'main' %}
    
            {% endblock %}
        </div>
    </div>
    <footer class="bg-light position-absolute bottom-0 text-center w-100">
        {% include 'base/footer.html' %}
    </footer>
</body>
</html>