{% extends 'authenticate/base.html' %}

{% block 'title' %} Se Connecter {% endblock %}

{% block 'main' %}

<form class="w-100" method="post">
    {% csrf_token %}
    <div class="pt-3">
        <h1 class="h3 mb-2 fw-bold text-decoration-underline text-light">Se Connecter</h1>
        <div class="pt-2">
            <h6 class="text-muted">Connectez-vous pour gérer votre gallerie en ligne sans soucis</h6>
        </div>
    </div>
    {% if error %}
    <div class="alert alert-danger m-3" role="alert">
        {{ error }}
    </div>    
    {% endif %}
    <div class="mb-3">
        <input name="email" type="email" class="form-control" id="email_id" placeholder="exemple@example.com">
    </div>
    <div class="mt-3">
        <input name="password" type="password" class="form-control" id="password_id" placeholder="*********">
    </div>
    <button class="w-50 w-lg-100 btn btn-dark my-3" type="submit">Se connecter</button>
    <div>
        <a href="{% url 'register' %}" class="text-muted">Vous n'avez pas un compte?</a>
    </div>
    <div class="py-2 text-light opacity-75">
        {% include 'base/footer.html' %}
    </div>
</form>
{% endblock %}