@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,900&display=swap');

:root {
    --app-primary-color: #2e4053;
    --app-secondary-color: #99bbde;
}

*:not(.fa, .fas, .fad) {
    font-family: 'Montserrat', sans-serif !important;
}

html,
body {
    overflow: hidden !important;
}


.bg-auth {
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-app-primary {
    background-color: var(--app-primary-color)!important;
}

.text-app-primary {
    color: var(--app-primary-color)!important;
}

#main {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--app-secondary-color);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--app-secondary-color);
  }
  
  .dz-default {
    margin: 4rem 2rem!important;
  }