{% extends 'base/base.html' %}

{% block 'title' %} Publier vos contenus {% endblock %}

{% block 'main' %}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.7/vue.global.prod.min.js"
    integrity="sha512-QSkHACKsowYzL+sd0IEQd75O7nENqe+TR4CGnkLX7JOHvevIlJ3numBaGYRZLwf7FbYBygjtYqrYADYhTL4ioQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="app">
    <div class="p-5 m2-4">
        <h1 class="">Vos Contenus</h1>
        <nav class="d-flex">
            <h6 class="mb-0">
                <a href="" class="text-reset">Home</a>
                <span>/</span>
                <a href="{% url 'default' %}" class="text-reset">Albums</a>
                <span>/</span>
                <a href="javascript:void(0)" class="text-reset"><u>Tout</u></a>
            </h6>
        </nav>
    </div>
    <div class="mt-2 mb-4 d-flex justify-content-between flex-lg-row flex-column">
        <div class="my-2">
            <h5 v-if="albumID != null"> ALBUM [[ albumSLUG ]]</h5>
        </div>
        <div class="d-flex justify-content-end my-2">
            <button class="btn btn-secondary me-2" v-if="albumID" @click="albumID = null">
                <span class="mdi mdi-backspace d-lg-none d-block"></span>
                <span class="d-lg-block d-none">Retour</span>
            </button>
            <button class="btn btn-danger me-2" v-if="albumID" data-mdb-toggle="modal"
                data-mdb-target="#deleteAlbum">
                <span class="mdi mdi-trash-can d-lg-none d-block"></span>
                <span class="d-lg-block d-none">Supprimer</span>
            </button>
            <button class="btn btn-primary me-2" v-if="albumID" :data-album-slug="albumSLUG" :data-album-id="albumID"
                data-mdb-toggle="modal" data-mdb-target="#createAlbum">
                <span class="mdi mdi-book-edit-outline d-lg-none d-block"></span>
                <span class="d-lg-block d-none">Editer</span>
            </button>
            <a class="btn btn-success me-2" v-if="albumID" :href="'/publish/' + albumID">
                <span class="mdi mdi-cloud-upload d-lg-none d-block"></span>
                <span class="d-lg-block d-none">Ajouter des images</span>
            </a>
            <button class="btn btn-primary" v-if="!albumID" data-mdb-toggle="modal" data-mdb-target="#createAlbum">Créer
                un album</button>
        </div>
    </div>
    <div class="container-fluid my-3">
        <div class="row row-cols-2 row-cols-lg-5" :class="!albumID ? 'justify-content-center': 'justify-content-start'">
            {% for album in albums %}
            <div class="p-2" v-if="!albumID">
                <div class="card p-0" @click="displayAlbum( {{ album.id }}, '{{ album.slug }}')">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                        <a href="javascript:void(0)">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body p-1 text-center">
                        <h5 class="card-title text-dark"> {{ album.slug }} | {{ album.photos.all|length }} photos </h5>
                    </div>
                </div>
            </div>
            <div v-if="albumID == {{ album.id }}" class="gallery w-100 row row-cols-lg-6 row-cols-1">
                {% for ph in album.photos.all %}
                <a href="{{ ph.image.url }}" data-fancybox="{{ album.slug }}" data-thumb="{{ ph.image.url }}"
                    data-caption="{{ ph.original_name }} ajouté le {{ ph.created_at }}" class="m-2">
                    <img class="col-12" src="{{ ph.image.url }}" width="200" height="150" alt="{{ ph.original_name }}" />
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="createAlbum" tabindex="-1" aria-labelledby="createAlbumLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content text-dark" method="POST" action="{% url 'album' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createAlbumLabel" v-if="!albumID">Créer une nouvel album</h5>
                    <h5 class="modal-title" id="createAlbumLabel" v-if="albumID">Editer [[ albumSLUG ]] </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="slugID" id="slugID" :value="albumID">
                    <input type="hidden" name="_method" id="_method" :value="!albumID ? 'POST' : 'UPDATE'">
                    <div class="form-outline mb-4 border">
                        <input name="slug" type="text text-dark" id="slug" class="form-control" :value="albumSLUG" />
                        <label class="form-label text-dark" for="slug">Nom</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Fermé</button>
                    <button type="submit" class="btn btn-primary" v-if="!albumID">Créer</button>
                    <button type="submit" class="btn btn-primary" v-if="albumID">Editer</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteAlbum" tabindex="-1" aria-labelledby="deleteAlbumLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content text-dark" method="POST" action="{% url 'album' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createAlbumLabel" v-if="albumID">Supprimer [[ albumSLUG ]] </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <input type="hidden" name="slugID" id="slugID" :value="albumID">
                    <input type="hidden" name="_method" id="_method" value="DELETE">
                    <input type="hidden" name="slug" id="slug" :value="albumSLUG">
                    <h5>Etes-vous sur de vouloir supprimer l'album <span class="fw-bold">[[ albumSLUG ]]</span> et son
                        contenu ? </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Fermé</button>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    Fancybox.bind("[data-fancybox]", {
        Toolbar: {
            items: {
                facebook: {
                    tpl: `<button class="f-button"><svg><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></button>`,
                    click: () => {
                        window.open(
                            `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(
                        window.location.href
                      )}&t=${encodeURIComponent(document.title)}`,
                            "",
                            "left=0,top=0,width=600,height=300,menubar=no,toolbar=no,resizable=yes,scrollbars=yes"
                        );
                    },
                },
            },
            display: {
                left: ["infobar"],
                middle: [],
                right: ["facebook", "slideshow", "download", "thumbs", "close"],
            },
        },
    });
    Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                albumID: null,
                albumSLUG: null,
            }
        },
        methods: {
            displayAlbum: function (albumID, albumSLUG) {
                this.albumID = albumID;
                this.albumSLUG = albumSLUG;
            }
        },
        mounted() {

        }
    }).mount('#app')
</script>
{% endblock %}