{% extends 'base/base.html' %}

{% block 'title' %} Publier vos contenus {% endblock %}

{% block 'main' %}
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
<div>
    <div class="p-5 mb-4">
        <h1 class="">Publier</h1>
        <nav class="d-flex">
            <h6 class="mb-0">
                <a href="" class="text-reset">Home</a>
                <span>/</span>
                <a href="{% url 'default' %}" class="text-reset">Albums</a>
                <span>/</span>
                <a href="javascript:void(0)" class="text-reset"><u>Publier</u></a>
            </h6>
        </nav>
    </div>
    <div class="drop">
        <form action="{% url 'album.upload' %}" class="dropzone border border-doted border-light" style="height: 400px;"
            id="galleryForm">

        </form>
    </div>
</div>
<script>
    let myDropzone = new Dropzone("#galleryForm", {
        dictDefaultMessage: "Faites glisser des fichiers ici ou cliquez pour télécharger",
        paramName: "file",
        maxFilesize: 10,
        accept: function (file, done) {
            const acceptedImageTypes = ["image/jpeg", "image/jpg", "image/png",
            "image/gif"]; // Types MIME des images acceptées

            if (acceptedImageTypes.includes(file.type)) {
                done();
            } else {
                done("Seules les images (jpg, jpeg, png, gif) sont autorisées.");
            }
        }
    });
</script>
{% endblock %}